<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LSU Tigers App</title>
    <link href="style.css" type="text/css" rel="stylesheet"/>
  </head>
  <body data-ng-app="teamApp">
    <main data-ng-controller="TeamController">
      <h1>{{lsugreet}}</h1>
      <form name="newTigerForm" data-ng-submit="createTiger(newlsutigers)">
        <label for="teamBody">New LSU Tiger:
          <input type="text" data-ng-disabled="newlsutigers.teamBody">
        </label>
        <button type="submit" data-ng-disabled="newTigerForm.$invalid">Create New Tiger</button>
      </form>

      <ul id="tigerslist">
        <li class="{{tiger.status}}" data-ng-repeat="tiger in lsutigers">
        <span data-ng-if="!tiger.editing">{{tiger.teamBody}}
          <button data-ng-click="tiger.editing = true">Edit Tiger</button>
          <button data-ng-click="removeTiger(tiger)">Delete</button>
          <form data-ng-if="tiger.editing" name="{{'tigerForm', + tiger._id}}" data-ng-submit="updateTiger(tiger)">
            <input type="text" data-ng-model="tiger.teamBody">
            <button type="submit">Save Changs</button>
            <button data-ng-if="!tiger.editing" data-ng-click="tiger.editing = false">Cancel</button>
          </form>
        </span>
        </li>
      </ul>
    </main>
    <script src="bundle.js"></script>
  </body>
</html>
