<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LSU Tigers App</title>
    <link href="style.css" type="text/css" rel="stylesheet"/>
  </head>
  <body data-ng-app="teamApp">
    <!-- Google Tag Manager -->
    <a data-ng-if="loggedIn()" href data-ng-click="logOut()">Hello {{username? '' + '' username : ''}}!Click Here to Logout</a>

    <h1>Inside my LSU Team App</h1>
    <main data-ng-view>
    </main>

    <script src="bundle.js"></script>
  </body>
</html>
